@model LogicLayer.ViewModels.UserViewModel

@{
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<div class="content div-shadow">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img src="@Model.AvatarUrl" style="margin: 30px;border-radius: 100%; max-width: 200px; max-height: 200px;" />
            </div>
            <div class="col-md-9" style="margin-top: 30px;">
                @Html.Partial("ProfileDetails")

                @if (User.IsInRole("admin") && Model.Id != ViewBag.MyId)
                {
                    using (Html.BeginForm("CreateCollection", "Collection", FormMethod.Get))
                    {
                        @Html.HiddenFor(model => model.Id)
                        <input type="submit" value="Создать коллекцию от имени пользователя" />
                    }
                }
            </div>
        </div>
    </div>
</div>
