@model IEnumerable<LogicLayer.ViewModels.CollectionViewModel>

@{
    ViewBag.Title = "GroupsView";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<hr class="horizontal-border" />
@if (User.Identity.IsAuthenticated)
{
    <div class="container text-center">
        <div class="row">
            <div class="col-md-5" style="font-size:large; margin-top: 15px;">
                <button type="button" class="btn btn-secondary btn-lg btn-block " onclick="location.href='@Url.Action("CreateCollection", "Collection")'">@Resources.Resources.create_collection</button>
                 </div>
            <div class="col-md-offset-2 col-md-5" style="font-size:large; margin-top: 15px;">
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick=@Url.Action("MyCollections", "Collection")>@Resources.Resources.my_collections</button>

            </div>
        </div>
    </div>

    <hr class="horizontal-border" />
}
<div class="wall">
    @Html.Partial("CollectionTable", Model)
</div>