@model List<LogicLayer.ViewModels.CustomFieldViewModel>

    <div>
        @using (Ajax.BeginForm("EditFieldView", new AjaxOptions { UpdateTargetId = "fieldresult" }))
        {
            @Html.AntiForgeryToken()

            <select id="fieldId" class="form-control" name="fieldId">
                @foreach (var item in Model)
                {
                    <option value=@item.Id>@item.Name</option>
                }
            </select>
            <div class="form-actions no-color">
                <input type="submit" value="@Resources.Resources.edit" class="btn btn-default" /> |
            </div>
        }
    </div>
<div id="fieldresult">

</div>
